Repository stan-dev/ci-scripts: changes, and which Jenkins stages are due for each by the changed paths.
All: stanc3 multiarch, stanc3 static, stanc3 debian, stanc3 debian-windows

stanc3 multiarch:
              steps{
                  deleteDir()
                  retry(3) { checkout scm }
                  sh """
                      docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
                      docker buildx create --name stanc3_builder || true
  ...

stanc3 static:
              steps{
                  deleteDir()
                  retry(3) { checkout scm }
                  sh """
                      git clone https://github.com/stan-dev/stanc3.git
                      cd stanc3
  ...

stanc3 debian:
              steps{
                  deleteDir()
                  retry(3) { checkout scm }
                  sh """
                      git clone https://github.com/stan-dev/stanc3.git
                      cd stanc3
  ...

stanc3 debian-windows:
              steps{
                  deleteDir()
                  retry(3) { checkout scm }
                  sh """
                      git clone https://github.com/stan-dev/stanc3.git
                      cd stanc3
  ...

Test change for Jenkinsfile
  docker/stanc3/multiarch/Dockerfile
Due: stanc3 multiarch

Test change after adding Jenkins webhook
  docker/stanc3/multiarch/Dockerfile
Due: stanc3 multiarch

Added a few comments to the Dockerfile
  docker/stanc3/multiarch/Dockerfile
Due: stanc3 multiarch

Run once to generate scm changeset
  Jenkinsfile
Due: none

- error on no args - fix stanc binary name when moving
  release-scripts/build-non-x86-tarballs.sh
Due: none

Refactored Jenkinsfile
  Jenkinsfile
Due: none

Added comment to stanc3 dockerfile
  docker/stanc3/debian/Dockerfile
Due: stanc3 debian

Update dockerfiles for 4.12
  docker/stanc3/debian-windows/Dockerfile
  docker/stanc3/debian/Dockerfile
  docker/stanc3/multiarch/Dockerfile
  docker/stanc3/static/Dockerfile
Due: stanc3 multiarch, stanc3 static, stanc3 debian, stanc3 debian-windows

Clean up
  docker/stanc3/multiarch/Dockerfile
Due: stanc3 multiarch

Jenkinsfile supports conditional execution, remote org,branch and added a new job to update DockerHub main tags.
  Jenkinsfile
  docker/stanc3/multiarch/Dockerfile
Due: stanc3 multiarch

Use StanUtils for VerifyChanges
  Jenkinsfile
Due: none

Added beforeAgent to check conditions before allocating an agent.
  Jenkinsfile
Due: none

Fixed typo
  Jenkinsfile
Due: none

Jenkinsfile refactor, added STANC3_ORG ARG to multiarch Dockerfile
  Jenkinsfile
  docker/stanc3/multiarch/Dockerfile
Due: stanc3 multiarch

Simplified Jenkinsfile, added ENV to Dockerfile multiarch
  Jenkinsfile
  docker/stanc3/multiarch/Dockerfile
Due: stanc3 multiarch

Update multi-arch dockerfile to accept ARGs
  docker/stanc3/multiarch/Dockerfile
Due: stanc3 multiarch

Parallelized docker builds
  Jenkinsfile
Due: none

Remove adding opam group in static Dockerfile
  docker/stanc3/static/Dockerfile
Due: stanc3 static

Simplified Jenkinsfile
  Jenkinsfile
Due: none

Update Jenkinsfile
  Jenkinsfile
Due: none

Add deprecation check boxes
  release-scripts/checklist.md
Due: none

Added alpine and gpu Dockerfiles
  docker/ci/Dockerfile-alpine
  docker/ci/Dockerfile-gpu
Due: none

add release notes script
  release-scripts/release-notes.py
Due: none

Update checklist.md
  release-scripts/checklist.md
Due: none

Add stan2ftp tensorflow image, refactored stanc3 images for flatiron
  docker/stan2ftp/tensorflow/Dockerfile
  docker/stanc3/debian-windows/Dockerfile
  docker/stanc3/debian/Dockerfile
  docker/stanc3/multiarch/Dockerfile
  docker/stanc3/multiarch/README.md
  docker/stanc3/static/Dockerfile
Due: stanc3 multiarch, stanc3 static, stanc3 debian, stanc3 debian-windows

Added conda build script
  release-scripts/build-conda-tgz.sh
Due: none

Improved comments
  release-scripts/build-conda-tgz.sh
Due: none

Pass version to install_cmdstan()
  release-scripts/build-conda-tgz.sh
Due: none

Quote version value in install_cmdstan
  release-scripts/build-conda-tgz.sh
Due: none

Run python using -c instead of HEREDOC
  release-scripts/build-conda-tgz.sh
Due: none

Changed example branch from conda-tgz-script to master
  release-scripts/build-conda-tgz.sh
Due: none

Removed notes, added how to build comment
  docker/ci/Dockerfile-alpine
  docker/stanc3/debian-windows/Dockerfile
  docker/stanc3/debian/Dockerfile
  docker/stanc3/multiarch/Dockerfile
  docker/stanc3/static/Dockerfile
Due: stanc3 multiarch, stanc3 static, stanc3 debian, stanc3 debian-windows

Docker images for Flatiron Institute Jenkins migration (#17)
  Jenkinsfile
  docker/ci/Dockerfile-gpu
  docker/stan2ftp/tensorflow/Dockerfile
  docker/stanc3/debian-windows/Dockerfile
  docker/stanc3/debian/Dockerfile
  docker/stanc3/multiarch/README.md
  docker/stanc3/static/Dockerfile
Due: stanc3 static, stanc3 debian, stanc3 debian-windows

tmp stuff
  release-scripts/release-notes.py
Due: none

Updated ci Dockerfile
  docker/ci/Dockerfile-gpu
Due: none

Move ci to flatiron institute (#21)
  docker/ci/Dockerfile-gpu
Due: none

Path conditions:
  stanc3 multiarch: any of: docker/stanc3/multiarch/Dockerfile
  stanc3 static: any of: docker/stanc3/static/Dockerfile
  stanc3 debian: any of: docker/stanc3/debian/Dockerfile
  stanc3 debian-windows: any of: docker/stanc3/debian-windows/Dockerfile
